body {
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  background: #00dac9;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-smoothing: antialiased;
  font-weight: 400;
  margin: 0;
  width: 100%;
}
a {
  transition: all 0.3s linear;
  text-decoration: none;
  color: #373737;
  font-weight: 600;
}
ul {
  margin: 10% 0;
  text-align: center;
  padding: 0;
}
ul li {
  list-style: none;
  display: inline-block;
  margin-bottom: 10px;
}
h1 {
  font-size: 1.5em;
  line-height: 2em;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 4px #373737;
}
h3 {
  text-transform: uppercase;
  color: #373737;
  line-height: 32px;
  border-bottom: 1px #373737 solid;
  margin-bottom: 2.5em;
  padding-bottom: 0.5em;
}
img {
  max-width: 280px;
}
iframe {
  width: 280px;
  height: 280px;
}
footer {
  background: #373737;
  width: 100%;
  display: inline-block;
  text-align: center;
}
.instagram {
  background: #517fa4;
}
.twitter {
  background: #55acee;
}
.github {
  background: #e94016;
}
.sidebar {
  background-color: #fff7f7;
  background-size: cover;
  display: inline-block;
  padding: 0;
  vertical-align: top;
  width: 100%;
}
.sidebar_information {
  background: url("https://igcdn-photos-h-a.akamaihd.net/hphotos-ak-xap1/t51.2885-15/10576021_1446663832261023_848509904_n.jpg");
  background-size: cover;
  color: #fff;
}
.sidebar_userimage {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 80px;
  margin: 0% 35% 0;
  padding: 8% 0 0;
  text-align: center;
}
.sidebar_userimage img {
  border-radius: 26px;
  border: 4px solid rgba(225,225,225,0.7);
  padding: 7px;
  width: 85px;
  background: rgba(0,218,201,0.7);
}
.social {
  border-radius: 4px;
  transition: background 0.3s linear;
  border-bottom: solid 3px #373737;
  color: #fff;
  display: block;
  list-style-type: none;
  padding: 0.8em 1em;
  margin: 0 auto;
  text-decoration: none;
}
.social:hover {
  background: #373737;
}
.comunidad-autoria {
  background: rgba(55,55,55,0.7);
  border-bottom: solid 2px #161514;
  margin: 5% 0;
  padding: 3% 0;
  text-transform: uppercase;
}
.logo {
  display: inline-block;
  width: 30%;
  text-align: center;
  padding: 3% 0 0;
}
.logo img {
  width: 45px;
  border-radius: 45px;
  padding: 0;
  margin: 0;
}
.nombre {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.nombre p {
  color: #fff;
}
.layout-principal {
  display: inline-block;
}
.link {
  border-bottom: solid 1px #373737;
}
.link:hover {
  color: #fff7f7;
  border-bottom-color: #fff7f7;
}
.bloque {
  margin: 5% auto;
  width: 80%;
}
.bloque p {
  line-height: 1.9em;
}
.bloque a {
  margin-right: 15px;
}
.bloque img,
.bloque iframe {
  transition: all 0.3s linear;
  border-radius: 6px;
}
.bloque img:hover,
.bloque iframe:hover {
  box-shadow: 0 0 25px rgba(55,55,55,0.5);
}
@media screen and (min-width: 800px) {
  .sidebar {
    width: 49%;
    height: 100vh;
  }
  .layout-principal {
    width: 49%;
    display: inline-block;
    padding: 0;
  }
}
@media screen and (min-width: 1024px) {
  img {
    width: 250px;
  }
  iframe {
    width: 250px;
    height: 250px;
  }
  footer {
    position: absolute;
    bottom: 0;
  }
  ul {
    margin-top: 20%;
  }
  .sidebar_information {
    padding-top: 80px;
  }
  .sidebar {
    width: 28%;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
  }
  .layout-principal {
    width: 71%;
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
  }
}
